<!DOCTYPE html>
<html ng-app="myApp">

<head>
</head>

<body>
    <div ng-controller="abc">
        <div class="row">
            <form name="myform" ng-submit="getinfo()">
                <input type="text" name="firstname" ng-model="user.firstname">
                <input type="text" name="lastname" ng-model="user.lastname">
                <input type="submit" value="click">
            </form>
        </div>
        <div ng-if="show1">
        <p> first name - {{details.firstname}}</p>
        <p> last name - {{details.lastname}}</p>
        </div>
        <ul>
        	<li ng-repeat="x in names">{{x}}</li>
        </ul>
    </div>
    <div ng-controller="xyz">
        <p>{{a}}</p>
        <p>{{b}}</p>
    </div>
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
